@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coin Tracker 2.0</h1>
    <p class="lead">Start by adding a new coin!</p>
    <p><input class="btn btn-primary" value="Add Coin" onclick="window.location.href='@Url.Action("Create", "Coins")';" />
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>
            This coin tracker is an upgraded and updated version of a previous one I made. It allows
            users to add precious metal coins (mainly silver) which they have in a collection to the database in order to keep 
            easy track of them.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <p>Click below and get a direct link to my github 🐱‍🐉</p>
        <p><a class="btn btn-default" href="https://github.com/DR-Oellermann">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Free Space</h2>
        <p>Don't really know what to put here.</p>
    </div>
</div>