@model IEnumerable<Coin_Tracker_V2._0.Models.tblCoin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table id="coins" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Coin Name</th>
        <th>Genre</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>




@section scripts
{
    <script>
        $(document).ready(function() {
            $("#coins").DataTable({
                ajax: {
                    url: "/api/apiCoins",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Coin_Name"
                        //render: function(data, type, coins) {
                        //    return "<a href='/movies/edit/" + coins.Coin_ID + "'>" + coins.Coin_ID + "</a>";
                        //}
                    },
                    {
                        data: "tblCoinType.Type_Description"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + "> Delete</button>";
                        }
                    }
                ]
            });
        });
    </script>
}
    
