@model IEnumerable<Coin_Tracker_V2._0.Models.tblCoin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table id="coins" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Coin Name</th>
        <th>Description</th>
        <th>Coin weight</th>
        <th>Coin Composition</th>
        <th>Coin Type</th>
        <th>Purchase Date</th>
        <th>Purchase Amount</th>
        <th>View Image</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>




@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#coins").DataTable({
                ajax: {
                    url: "/api/apicoins",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Coin_Name"
                        //render: function (data, type, coin) {
                        //    return "<a href='/coins/edit/" + coin.id + "'>" + coin.name + "</a>";
                        //}
                    }, {
                        data: "Coin_Description"
                    }, {
                        data: "Coin_Weight"
                    }, {
                        data: "tblCoinComposition.Composition_Description"
                    }, {
                        data: "tblCoinType.Type_Description"
                    }, {
                        data: "Purchase_Date"
                    }, {
                        data: "Purchase_Amount"
                    }, {
                        data: "Image_Path"
                    }, {
                        data: "Coin_ID",
                        render: function (data) {
                            return "<button type='button' class='btn btn-info js-delete' data-movie-id=" + data + "> Edit</button>";
                        }
                    }, {
                        data:"Coin_ID",
                        render: function (data) {
                            return '<button type="button" class="btn btn-danger" coin-data-id=' + data + '>Delete</button>';
                        }
                    }

                ]
            });
        });
    </script>
}
    
