@model IEnumerable<Coin_Tracker_V2._0.Models.tblCoin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table id="coins" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Coin Name</th>
        <th>Description</th>
        <th>Coin weight</th>
        <th>Coin Composition</th>
        <th>Coin Type</th>
        <th>Purchase Date</th>
        <th>Purchase Amount</th>
        <th>View Image</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!--Image Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#coins").DataTable({
                ajax: {
                    url: "/api/apicoins",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Coin_Name",
                        render: function (data, type, coin) {
                            return "<a href='/coins/details/" + coin.Coin_ID + "'>" + coin.Coin_Name + "</a>";
                        }
                    }, {
                        data: "Coin_Description"
                    }, {
                        data: "Coin_Weight"
                    }, {
                        data: "tblCoinComposition.Composition_Description"
                    }, {
                        data: "tblCoinType.Type_Description"
                    }, {
                        data: "Purchase_Date"
                    }, {
                        data: "Purchase_Amount"
                    }, {
                        data: "Image_Path",
                        render: function (data, type, coin) {
                            //return '<button type="button" id="img-btn" class="btn btn-success" coin-img-id=' + data + '>View Image</button>';
                            return '<a data-toggle="modal" data-target="#imgModal" id="img-btn" class="btn btn-success" coin-img-id="' + data + '">View Image</a>';
                        }
                    }, {
                        data: "Coin_ID",
                        render: function (data, type, coin) {
                            return '<a class="btn btn-info" href="/Coins/Edit/' + coin.Coin_ID + '">Edit</a>';
                        }
                    }, {
                        data:"Coin_ID",
                        render: function (data) {
                            return '<button id="btn-delete" type="button" class="btn btn-danger" coin-data-id=' + data + '>Delete</button>';
                        }
                    }

                ]
            });



        $("#coins").on("click",
            "#img-btn",
            function() {
                var imgName = $(this).attr("coin-img-id");
                $(".modal-body").append('<img src="/images/' + imgName + '" alt="No Image" width="250" height="250">');
            });

        $("#coins").on("click",
            "#btn-delete",
            function () {
                var recordID = $(this);
                bootbox.confirm("Are you sure you want to delete this record?",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/apicoins/" + recordID.attr("coin-data-id"),
                                method: "DELETE",
                                success: function() {
                                    table.row(recordID.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
            });
        });
    </script>
}
    
